*~
.#*
\#*
.DS_Store
*.elc
/recentf
/saveplace
/savehist
/ido.last
/auto-save/
/auto-save-list/
/elpa/
/el-get/
/cache/
/url/
/projectile-bookmarks.eld
/projectile.cache
/tramp
/irony
/company-statistics-cache.el
/.cask
/eshell
/transient/
/.lsp-session-*
/straight/build-cache.el
/straight/build/
/straight/repos/
/straight/modified/
/prescient-save
